@font-face {
  font-family: "ShareTechMono";
  src: URL("/static/ShareTechMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceCodePro";
  src: URL("/static/SourceCodePro-Regular.ttf") format("truetype");
}

header {
  font-family: "ShareTechMono", sans-serif;
}
body {
  font-family: "ShareTechMono", sans-serif;
}
button {
  font-family: "ShareTechMono", sans-serif;
}

.main-header {
  margin-bottom: 1rem;
}
header #search-input input {
  width: 39rem;
  max-width: 100%;
}

.tag-counts {
  margin-top: 4rem;
}
mark.tag {
    margin-right: 0.25rem;
}
.tag a {
  text-decoration: none;
}
#snippet-input {
  font-family: "SourceCodePro", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.5;
}
#snippet-name-input {
  width: 35rem;
  max-width: 100%;
}
#add-variable-btn {
  margin-bottom: 1rem;
}
.variables-input input {
  max-width: 18.75rem;
}
.snippet-container button {
  padding: 2px 4px;
}
.snippet pre {
  font-family: "SourceCodePro", sans-serif;
  font-size: 12px;
}
.snippet pre span {
  font-family: "SourceCodePro", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.snippet details {
  margin-top: 1rem;
}
.snippet .input-values input {
  width: 100%;
}
.snippet .snippet-container {
  position: relative;
}
.snippet .snippet-container button {
  top: 0.15rem;
  right: 0.75rem;
  position: absolute;
}
