<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='simple.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script
      src="//cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
      defer
    ></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script>
      {% include "rendered-common.js" %}
    </script>
  </head>
  <body>
    <header>
      <a href="/">
        <div class="main-header"><h1>Snippets</h1></div>
      </a>
      <p
        id="search-input"
        x-data="{ query: '', searchUrl: '{{ url_for('get_snippets_by_search_query', _external=True) }}' }"
      >
        <input
          x-model="query"
          @keyup.enter="
            const url = new URL(searchUrl);
            url.searchParams.append('q', query);
            window.location.href = url;
          "
          type="text"
          name="search_query"
          placeholder="search by tag or title"
        />
        <button
          @click="
            const url = new URL(searchUrl);
            url.searchParams.append('q', query);
            window.location.href = url;
          "
        >
          Search
        </button>
      </p>
      <nav id="nav-links">
        <a href="{{ url_for('create') }}">Create Snippet</a>
      </nav>
    </header>

    <main>
      {% block body %} {% endblock %}

      <hr />
      <div class="tag-counts">
        {% for tag_count in tag_counts %} {{ single_tag_count(tag_count.name,
        tag_count.count) }} {% endfor %}
      </div>
    </main>

    <footer>
      <p>
        built with
        <a href="https://flask.palletsprojects.com/en/2.0.x/">flask</a>,
        <a href="https://alpinejs.dev/">alpine.js</a> and
        <a href="https://simplecss.org/">simple.css</a>
      </p>

      <p>
        this website is an
        <a href="https://gitlab.com/kenzietandun/snippets">open source</a>
        project
      </p>
    </footer>
  </body>
</html>
