{% extends "base.html" %} {% block title %} Snippets {% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div x-data="{ name: '', variables: [], snippet: '' }">
  <h4>New snippet</h4>
  <button
    id="add-variable-btn"
    @click="variables.push({'name': '', 'value': ''})"
  >
    Add variable
  </button>
  <button x-show="variables.length" x-transition @click="variables.pop()">
    Remove variable
  </button>
  <template x-for="variable in variables">
    <div class="variables-input">
      Name <input x-model="variable.name" /> Value
      <input x-model="variable.value" />
    </div>
  </template>
  <textarea
    id="snippet-input"
    placeholder="Your snippet here, variables are specified with $ followed by a number e.g. $1 for first variable"
    rows="10"
    style="width: 100%"
    x-model="snippet"
  ></textarea>
  <input
    id="snippet-name-input"
    placeholder="List comprehension #linux #python"
    x-model="name"
    required
  />
  <button
    @click="
    const payload = {name, variables, snippet};
    createSnippet(JSON.stringify(payload));
  "
  >
    Create snippet
  </button>
  {% endblock %}
</div>
