{% from "tag_count.html" import single_tag_count %}
{% macro single_snippet(id, name, text, tags, variables) %}

<!-- prettier-ignore -->
{#
    - tags: [{'name': 'tag name', 'url': 'tag url'},...]
    - variables: [{'name': 'keyname', 'value': 'thevalue'},...]
    used to populate the x-data
#}


<div
  id="snippet-{{ id }}"
  class="snippet"
  x-data="{{ variables }}"
>
  <a href="{{ url_for('get_snippet_by_id', snippet_id=id) }}"
    ><h4>{{ name }}</h4></a
  >

  {% for tag in tags %}
      {{ single_tag_count(tag.name) }}
  {% endfor %}

  <!-- prettier-ignore -->
  {% if variables and variables|length %}
  <details>
    <summary>Variables</summary>
    <div class="input-values">
      {% for key, value in variables.items() %}
      <label>{{ key }}</label>
      <input
        x-model="{{ key }}"
        placeholder="value for {{ key }}"
        value="{{ value }}"
      />
      {% endfor %}
    </div>
  </details>
  {% endif %}

  <div class="snippet-container">
    <pre>{{ text|safe }}</pre>
    <button @click="copyToClipboard('#snippet-{{ id }}')">Copy</button>
  </div>
</div>

{% endmacro %}
